{% extends 'base.html' %}

 {% block content %}

  <h1><center>Lab 1 Assignment PBP/PBD</center></h1>

  <h5><center>Name: Nisrina Zakiyah Aeni</center></h5>

  <h5><center>Student ID: 2106635013</center></h5>

  <table border="1">
    <tr>
      <th>Item Name</th>
      <th>Item Price</th>
      <th>Item Stock</th>
      <th>Rating</th>
      <th>Description</th>
      <th>Item URL</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for barang in list_barang %}
    <tr>
        <th>{{barang.item_name}}</th>
        <th>{{barang.item_price}}</th>
        <th>{{barang.item_stock}}</th>
        <th>{{barang.description}}</th>
        <th>{{barang.rating}}</th>
        <th>{{barang.item_url}}</th>
    </tr>
{% endfor %}
  </table>

 {% endblock content %}
